<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebarFragment" class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Community Board</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">게시판</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">마이페이지</a>
    </div>
</div>
</html>